@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #D9D9D9;
}
#buttonChangeMode{
    height: 40px;
    width: 50px;
    display: flex;
    padding-top: 75px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
  }
  .mode {
    height: 60px;
  }